#creat-spec, #create-art {
    margin-left: 17em;
}

main h1 {
    text-align: center;
    font-size: 2em;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
}

.bouton-bas:active {
    transform: scale(0.99);
}

label {
    margin-top: 15px;
    font-weight: bold;
}


input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.bouton-bas {
    align-items: center;
    width: 55%;
    margin-top: 20px;
    padding: 10px;
    background-color: #120045;
    color: white;
    border: none;
    border-radius: 4px;
    margin-right: 5%;
    margin-left: 5%;
    cursor: pointer;
}

.bouton-bas:hover {
    background-color: #2a0199;
}

.boutons {
    display: flex;
    align-items: center;
}